/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 300;
}

/* VARIABLES */
/* LAYOUT */

/* HEADER */
.header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  height: 6.4rem;
  border-bottom: 1px solid #ebebebb6;

  margin-bottom: 4.8rem;
}

.navigation {
  display: flex;
  gap: 1.6rem;
}

.menu-toggle {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
}

.ph-list {
  font-size: 2.4rem;
}

.menu-text {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.search-input {
  padding: 1rem;
  max-width: 18rem;
  border-radius: 0.6rem;
  border: 1px solid #bcbcbcb6;
  outline-color: #909090b6;
  font-weight: 800;
}

.search-input::placeholder {
  font-weight: 800;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.ph-flower-lotus {
  font-size: 3.2rem;
  color: #ff8f3a;
}

.logo-text {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.cta-menu {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.login-menu {
  cursor: pointer;
  padding: 1rem;
  color: #3f70a2;
  font-weight: 600;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: 2px 2px 16px rgba(61, 72, 83, 0.15);
  transition: all 0.3s;
}

.login-menu:hover,
.login-menu:active {
  border: 2px solid #909090b6;
  transition: all 0.3s;
}

.cart {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.cart:link,
.cart:visited,
.cart:hover,
.cart:active {
  text-decoration: none;
  color: #000;
}

.ph-shopping-cart {
  font-size: 2.4rem;
}

.cart-text {
  font-size: 1.4rem;
}

/* MAIN */

.main-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.product-image {
  display: flex;
  justify-content: end;
}

.image {
  width: 90%;
  height: 90%;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.product-info h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
  color: #3d4853;
  text-transform: capitalize;
}

.product-message {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #434d5e;
}

.color-title,
.style-title,
.size-title {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.product-style,
.product-size,
.product-color {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.color-picker {
  display: flex;
  gap: 1.2rem;
}

.color-picker span {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: none;
  position: relative;

  cursor: pointer;
}

.pd-color.selected::after {
  content: "\2713"; /* Checkmark */
  display: inline-block;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 800;
}

.color-1 {
  background-color: #000;
}

.color-2 {
  background-color: #1c3a57;
}

.color-3 {
  background-color: #48607c;
}

.color-4 {
  background-color: #85132b;
}

.color-5 {
  background-color: #ebb5ca;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.04rem;
}

.size-picker {
  display: flex;
  gap: 1rem;
}

.size-picker span {
  flex: 0;
  text-align: center;
  padding: 0.4rem 1.2rem;
  border: 1px solid #b1bcc668;
  border-radius: 0.8rem;
  color: #3d4853;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}

.pd-size.selected {
  border-color: #3d4853;
}

.style-slide {
  display: flex;
  gap: 0.6rem;
  max-width: 60rem;
  align-items: center;
  justify-content: center;
}

.image-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1.4rem;
  flex-wrap: wrap;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 1.6rem;
}

.image-info.selected {
  border: 2px solid #b1bcc668;
}

.image-info:hover {
  border: 2px solid #b1bcc668;
}

.style-image {
  max-width: 100%;
  height: 100%;
}

.image-title {
  font-size: 1.4rem;
  color: #3d4853;
  text-transform: capitalize;
  line-height: 1.6;
  text-align: center;
}

.add-to-cart {
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  height: 6.4rem;
  background-color: #2b8265;
  color: #fff;
  padding: 0 3.6rem;
  text-align: center;
  width: fit-content;
  text-transform: capitalize;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #1b5844;
}
